{block #title}
	<i class="icon mdi mdi-clipboard-text"></i> Webinar registration
{/block}

{block #buttons}
	<a n:href="edit" class="btn btn-success">Create new registration form</a>
{/block}

{block content}
	<div class="m-admin-fix bg-white pb-2">
		{control webinarGrid}
	</div>
{/block}
