/* comfortaa-regular - latin-ext_latin */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/comfortaa-v30-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/comfortaa-v30-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/comfortaa-v30-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/comfortaa-v30-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/comfortaa-v30-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/comfortaa-v30-latin-ext_latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/* comfortaa-700 - latin-ext_latin */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/comfortaa-v30-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/comfortaa-v30-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/comfortaa-v30-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/comfortaa-v30-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/comfortaa-v30-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/comfortaa-v30-latin-ext_latin-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin-ext_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/roboto-v29-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/roboto-v29-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/roboto-v29-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin-ext_latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/roboto-v29-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/roboto-v29-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/roboto-v29-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/roboto-v29-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/roboto-v29-latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}


// main
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
	font-size: 17px;
	color: #222;
	background-color: $cosmic-latte;
	font-family: 'Roboto', sans-serif;
}

// page
.page {
	min-height: 90vh;
	position: relative;
}

// header
header {
	position: relative;
	min-height: 250px;
	padding-top: 40px;
	padding-bottom: 50px;
	background: linear-gradient(to right, #6f43b3 30%, #2a638d);

	.container {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: space-between;
		align-items: center;
	}

	.header-text {
		order: 2;
		text-align: center;
	}

	h1 {
		color: $cosmic-latte;
		max-width: 700px;
		font-size: 2rem;
		line-height: 130%;
	}

	img {
		order: 1;
		width: 100%;
		height: 100%;
		mask: url("../../img/svg/mask3.svg") no-repeat;
		mask-size: contain;
		mask-position: center;
	}
}

.main-svg {
	display: none;
	object-fit: cover;
	fill: url(#MyGradient);
	width: 100vw;
}
// navbar
nav {
	z-index: 2;
	background-color: $cosmic-latte;

	.navigation-toggler {
		display: flex;
		flex-direction: column;
		width: 50px;
		cursor: pointer;
		margin: 0;

		span{
			background: $purple;
			border-radius: calc(0.1px * 66.66);
			height: calc(0.07px * 66.66);
			margin: calc(0.07px * 66.66) 0;
			transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
		}

		span:nth-of-type(1){
			width:50%;
		}

		span:nth-of-type(2){
			width:100%;
		}

		span:nth-of-type(3){
			width:75%;

		}

		input[type="checkbox"]{
			display:none;
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(1){
			transform-origin:bottom;
			transform:rotatez(45deg) translate(calc(0.08px * 66.66),0px)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(2){
			transform-origin:top;
			transform:rotatez(-45deg)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(3){
			transform-origin:bottom;
			width:50%;
			transform: translate(calc(0.3px * 66.66),calc(-0.11px * 66.66)) rotatez(45deg);
		}
	}
}

.navbar-collapse {
	text-align: center;
	border-radius: $border-radius;
	padding: 1rem;
}

.navbar-brand {
	svg {
		width: 110px;
		height: auto;
	}
}

.nav-link {
	padding: 0.8rem 0;
}

.navbar-light .navbar-nav .nav-link {
	transition: all .2s ease-in-out;
	color: $bittersweet;
	font-family: 'Comfortaa', cursive;
	font-size: 1.15rem;

	&:hover {
		color: darken($bittersweet, 5%);
	}
}

.instagram, .linkedin, .facebook {
	svg {
		height: 30px;
		width: auto;
		fill: $bittersweet;
		transition: all .2s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}
}
.language-dropdown {
	transition: all .2s ease-in-out;
	color: $gray-800;
	border-radius: $border-radius/2;
	font-family: 'Comfortaa', cursive;

	img {
		margin-right: .3rem;
		border-radius: $border-radius/4;
	}

	.nav-link {
		font-size: 1rem;
	}

	&:hover {
		background-color: lighten($ultra-red, 25%);
	}

	.dropdown-menu {
		border-radius: $border-radius/2;
		background-color: lighten($ultra-red, 25%);
		border: none;
		padding: 0;
		width: 100%;
		margin-top: .5rem;

		.dropdown-item {
			text-align: center;
			padding: 1.2rem;
			transition: all .2s ease-in-out;

			&:hover {
				background-color: lighten($ultra-red, 15%);

				&:first-child {
					border-radius: $border-radius/2 $border-radius/2 0 0;
				}

				&:last-child {
					border-radius: 0 0 $border-radius/2 $border-radius/2;
				}
			}
		}
	}
}

h1, h2, h3 {
	color: $gray-900;
	font-family: 'Comfortaa', cursive;
}

h1 {
	margin-bottom: 3rem;

	small {
		display: block;
		font-size: 1.2rem;
		color: lighten($ultra-red, 20%);
	}
}

h2 {
	margin-bottom: 1rem;
}

img {
	border-radius: $border-radius;
}

a {
	//color: $link;
	&:hover {
		text-decoration: none;
		//color: darken($link ,0.3);
	}
}

section {
	padding: 120px 0;
}

// heading
.heading {
	text-align: center;

	h1 {
		margin-bottom: 1rem;
	}
}

// services
.service-section {

	h2 {
		text-align: center;
	}

	.service-grid {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;

		.service {
			position: relative;

			&:hover {

				h4 {
					padding-bottom: 4rem;
				}

				span {
					opacity: 1;
				}
			}

			h4 {
				transition: all .3s ease-in-out;
				border-radius: 0 0 $border-radius $border-radius;
				margin: 0;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				padding: .5rem 0 1.5rem 1.5rem;
				background: linear-gradient(to top, rgba($black, 0.4), transparent);
				color: $white;
			}

			span {
				transition-delay: .2s;
				transition: all .3s ease-in-out;
				color: $white;
				font-family: 'Comfortaa', cursive;
				position: absolute;
				bottom: 1.5rem;
				left: 1.5rem;
				opacity: 0;

				&:after {
					position: relative;
					content: "";
					display: block;
					background: url("../../img/svg/arrow_right.svg") no-repeat;
					background-size: contain;
					width: 50px;
					height: 22px;
					float: right;
					margin-left: 1rem;
				}
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.page-bg {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
}

// service-detail
.service-detail {

	.service-grid {
		display: grid;
		grid-template-columns: 1fr;

		.cover-img {
			grid-column: 1;
			grid-row: 1;
			width: 100%;
			margin-bottom: 2rem;
		}

		.service-content {
			.service-description {
				max-width: 900px;
				font-size: 1.1rem;
				line-height: 1.6;

				ul {
					padding-left: 1.5rem;
				}
			}
		}
	}
}

.service-gallery {
	margin-top: 3rem;

	.gallery-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: .5rem;

		a {
			transition: all .2s ease-in-out;

			&:hover {
				filter: brightness(105%);
				transform: scale(0.95);
			}

			img {
				max-width: 400px;
				max-height: 300px;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// cta
.cta {
	max-width: 450px;
	width: 100%;
	margin-top: 4rem;
	color: $white;
	background-color: $violet;
	border-radius: $border-radius;
	font-family: 'Comfortaa', cursive;
	padding: 1.5rem;
}

// about
.about-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4rem;
	align-items: center;

	img {
		width: 100%;
		max-width: 700px;
		max-height: 600px;
		height: auto;
	}

	.about-text {
		text-align: center;
		font-size: 1.1rem;
		line-height: 1.6;
	}


}

// contact page
.contact-section {
	.contact-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 4rem;
	}

	.contact-informations {
		display: block;
		width: auto;
		border-radius: $border-radius;
		background-color: rgba(#aee3ff, .9);
		justify-self: flex-start;
		text-align: center;
		padding: 2rem;

		img {
			max-width: 100%;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			object-fit: cover;
		}

		h3 {
			margin: 0;
			padding: 2rem 0 1.5rem 0;
		}
		ul {
			list-style-type: none;
			font-size: 1.2rem;

			li {
				margin-bottom: .3rem;

				i {
					margin-right: .4rem;
				}
			}
		}
	}
}

// contact form
.contactForm {
	max-width: 600px;

	input[type="text"], input[type="email"], textarea {
		transition: background-color .25s ease-in-out;
		display: block;
		width: 100%;
		padding: .7rem 1rem;
		border-radius: $border-radius / 2;
		background-color: rgba(#aee3ff, 0.4);
		border: none;
		color: $primary;

		&:hover {
			background-color: rgba(#aee3ff, 0.6);
		}
	}

	.submit {
		transition: background-color .25s ease-in-out;
		background-color: $medium-sea-green;
		max-width: 100%;
		min-width: 250px;
		font-size: 1.2rem;
		padding: .65rem 1.5rem;
		border: none;
		font-family: 'Comfortaa', cursive;

		&:hover {
			background-color: darken($medium-sea-green, 7%);
		}

		i {
			margin-left: .8rem;
		}
	}
}

// footer
.page-footer {
	margin-top: 100px;
	display: block;
	width: 100vw;
	height: auto;

	.footer-svg {
		display: none;
		fill: $ultra-red;
		width: 100vw;
	}

	.footer-svg2 {
		display: none;
		fill: #6f43b3;
		width: 100vw;
	}

	.inner-footer {
		background-color: $ultra-red;
	}

	.created {
		padding-top: 40px;
		color: rgba($cosmic-latte, .8);
		padding-bottom: 80px;
		background: linear-gradient(to bottom, #6f43b3 10%, #2a638d);;
		font-family: 'Comfortaa', cursive;

		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		a {
			&:hover svg {
				fill: rgba($cosmic-latte, 1);
				transform: scale(1.1);
			}

			svg {
				transition: all .2s ease-in-out;
				fill: rgba($cosmic-latte, .9);
				display: block;
				margin-bottom: .7rem;
				width: 130px;
				height: auto;
			}
		}
	}
}

// webinarModal
.webinar-bar {
	width: 100vw;
	height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: lighten($bittersweet, 10%);

}
#webinarModal {
	.modal-dialog {
		width: 700px;
		max-width: 100%;
	}
}


// scroll top
#scrollTopBtn {
	display: flex;
	width: 170px;
	margin: 0 calc((100% - 170px) / 2);
	max-width: 100%;
	position: fixed;
	bottom: 0;
	padding: .5rem 1rem;
	border-radius: $border-radius $border-radius 0 0;
	z-index: 1000;
	font-size: 1.1rem;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-color: $white;
	transition: right .5s ease-in-out;
	box-shadow: 5px 10px 18px rgba($gray-800, .2);

	&:hover {
		text-decoration: none;

	}

	i {
		margin-right: .5rem;
		color: $primary;
		font-size: 1.5rem;
	}
}

// gdpr
//.gdpr {
//	width: calc(100% - 2rem);
//	max-width: 450px;
//	position: fixed;
//	right: 1rem;
//	bottom: 1rem;
//	display: flex;
//	flex-direction: column;
//	justify-content: flex-start;
//	align-items: flex-start;
//	padding: 1.5rem;
//	color: $gray-700;
//	background-color: rgba($white,0.95);
//	z-index: 1000;
//	border-radius: $border-radius/2;
//
//	i {
//		color: $brown;
//		font-size: 1.5rem;
//	}
//}

.pulse-btn {
	box-shadow: 0 0 0 0 rgba($black, 0.05);
	font-family: 'Comfortaa', cursive;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: all 0.25s ease-in-out;
	-webkit-animation: pulse 2s infinite;
	background-color: $medium-sea-green;
	color: $white;

	&:after {
		position: relative;
		content: "";
		display: inline-block;
		background: url("../../img/svg/arrow_right.svg") no-repeat;
		background-size: contain;
		width: 50px;
		height: 22px;
		margin-left: 1rem;
	}

	&:hover {
		color: $white;
		-webkit-animation: none;
	}
}

@-webkit-keyframes pulse {
	0% {
		transform: scale(.97);
	}
	70% {
		transform: scale(1);

		box-shadow: 0 0 0 30px rgba($black, 0);
	}
	100% {
		transform: scale(.97);
		box-shadow: 0 0 0 0 rgba($black, 0);
	}
}
