@include media-breakpoint-up(sm) {

	// header
	header {
		height: 250px;
		background: url("../../img/svg/header.svg") no-repeat;
	}

	nav {
		margin-bottom: 100px;
	}


	// scroll top
	#scrollTopBtn {
		margin: unset;
		bottom: 2rem;
		padding: .8rem 1.2rem;
		right: -170px;
		font-size: 1.2rem;
		justify-content: space-evenly;
		border-radius: $border-radius 0 0 $border-radius;

		&:hover {
			text-decoration: none;

		}

		i {
			margin-right: .5rem;
			color: $primary;
			font-size: 1.5rem;
		}
	}
}

@include media-breakpoint-up(sml) {
	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 1rem;
		}
	}
}


@include media-breakpoint-up(md) {
	.service-section {
		.service-grid {
			grid-template-columns: 1fr 1fr;
		}
	}

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}
@include media-breakpoint-up(lg) {

	h1 { font-size: 3rem }
	h2 { font-size: 2.1rem }
	h3 { font-size: 1.8rem }
	h4 { font-size: 1.5rem }

	.navbar-brand {
		img {
			transition: transform .25s ease-in-out;
			max-width: 130px;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	.nav-link {
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
	}

	.navbar-collapse {
		background-color: unset;
	}

	.navbar-nav {
		a {
			transition: transform .25s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	.language-dropdown {

		.nav-link {
			padding: 0.7rem;
		}

		.dropdown-menu {
			margin-top: .3rem;

			.dropdown-item {
				text-align: left;
				padding: 0.7rem;
			}
		}
	}

	section {
		padding: 90px 0;
		margin: 0 auto;
		max-width: 1440px;
	}

	.service-section {
		.service-grid {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.service-detail {
		.service-grid {
			grid-template-columns: 1fr 500px;


			.cover-img {
				grid-column: 2;
			}

			.service-content {
				margin-right: 3rem;
			}
		}
	}

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
	}

	.contact-section {
		.contact-grid {
			grid-template-columns: 400px 1fr;
		}
	}

	.cta {
		border-radius: unset;
		background: url("../../img/svg/cta.svg") no-repeat;
		background-size: contain;
		padding: 3rem;
	}
}

@include media-breakpoint-up(xl) {

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
}

@include media-breakpoint-up(xxl) {

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
}
