@include media-breakpoint-up(sm) {
	// scroll top
	#scrollTopBtn {
		margin: unset;
		bottom: 2rem;
		padding: .8rem 1.2rem;
		right: -170px;
		font-size: 1.2rem;
		justify-content: space-evenly;
		border-radius: $border-radius 0 0 $border-radius;

		&:hover {
			text-decoration: none;

		}

		i {
			margin-right: .5rem;
			color: $primary;
			font-size: 1.5rem;
		}
	}
}

@include media-breakpoint-up(sml) {
	.main-svg {
		display: block;
	}

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 1rem;
		}
	}
}


@include media-breakpoint-up(md) {



	header {

		h1 {
			font-size: 2.3rem;
		}
	}

	.about-section {
		grid-template-columns: 1fr 1fr;

		.about-text {
			text-align: left;
		}

		img {
			max-height: unset;
		}
	}

	.service-section {
		.service-grid {
			grid-template-columns: 1fr 1fr;
		}
	}

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	.service-detail {

		.cover-img {
			max-width: 550px;
			mask: url("../../img/svg/mask1.svg") no-repeat;
			mask-size: contain;
			border-radius: $border-radius;
		}
	}

	section {
		padding: 120px 0;
	}

	.page-footer {
		.footer-svg, .footer-svg2 {
			display: block;
		}

		.created {
			padding-top: 0;
		}
	}
}
@include media-breakpoint-up(lg) {


	.nav-link {
		padding: 0.5rem 1rem;
	}

	h1 { font-size: 3rem }
	h2 { font-size: 2.1rem }
	h3 { font-size: 1.8rem }
	h4 { font-size: 1.5rem }

	header {
		padding-bottom: 20px;

		h1 {
			font-size: 1.8rem;
		}

		.container {
			flex-direction: row;
		}

		.header-text {
			text-align: left;
			order: 1;
		}


		img {
			max-width: 50%;
		}
	}

	.navbar-brand {
		img {
			transition: transform .25s ease-in-out;
			max-width: 130px;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	nav {
		.navigation-toggler {
			display: none;
		}
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		font-size: 1.2rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.navbar-collapse {
		background-color: unset;
	}
	.navbar-nav {
		a {
			transition: transform .25s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	.language-dropdown {

		.nav-link {
			padding: 0.7rem;
		}

		.dropdown-menu {
			margin-top: .3rem;

			.dropdown-item {
				text-align: left;
				padding: 0.7rem;
			}
		}
	}

	section {
		margin: 0 auto;
		max-width: 1440px;
	}

	.service-section {
		.service-grid {

			img {
				max-height: 400px;
				object-fit: cover;
				object-position: center;
			}

			h4 {
				font-size: 1.8rem;
			}
		}
	}
	.service-detail {
		.service-grid {
			grid-template-columns: 1fr 500px;


			.cover-img {
				grid-column: 2;
			}

			.service-content {
				margin-right: 3rem;
			}
		}
	}

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
	}

	.contact-section {
		.contact-grid {
			grid-template-columns: 400px 1fr;
		}
	}

	.cta {
		border-radius: unset;
		background: url("../../img/svg/cta.svg") no-repeat;
		background-size: contain;
		background-position: center;
		padding: 4rem;
	}
}

@include media-breakpoint-up(xl) {

	header {
		h1 {
			font-size: 2.1rem;
		}
	}

	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
}

@include media-breakpoint-up(xxl) {

	header {
		h1 {
			font-size: 2.3rem;
		}
	}

	.service-section {
		.service-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr;

			h4 {
				font-size: 1.6rem;
			}
		}
	}
	.service-gallery {
		.gallery-grid {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
}
