# heading
subheading: نحن نقدم مجموعة واسعة من الخدمات من استشارات الأعمال والتسويق الرقمي على طول الطريق لتنظيم الأحداث

# menu
link_home: الصفحة الرئيسية
link_services: الخدمات
link_contact: الاتصال

#services page
show_services: عرض الخدمات
title_services: خدماتنا
no_services: لا توجد خدمة لإظهارها في الوقت الحالي
no_service: لم يتم العثور على الخدمة التي تبحث عنها باللغة الإنجليزية. قد توجد ولكن في إصدار لغة مختلفة
show_service: إظهار التفاصيل
gallery: معرض الصور
interested_heading: هل يعجبك عرضنا؟
interested_text:  لا تتردد في الاتصال بنا!

#contact page
contact_us: الاتصال بنا
title_contact: الاتصال
languages: "أنا أتكلم الإنجليزية والعربية والفرنسية والتشيكية"
title_email: أرسل لي رسالة بريد إلكتروني!
email_send: إرسال البريد الإلكتروني
send: إرسال
close: إغلاق

#email
email_name: الاسم واللقب
email_phone: رقم الهاتف
email_email: عنوان البريد الإلكتروني
email_text: رسالتك

#about page
title_about: عنا

# footer
author: مواقع مصممة لتناسب احتياجاتك

# error
error: نحن آسفون ، لكن الصفحة التي كنت تبحث عنها لم تعد موجودة.
error_p: يجب عليك العودة إلى الصفحة الرئيسية وإلقاء نظرة فاحصة على موقع الويب المعاد تصميمه بالكامل. ونحن نعتقد أنك سوف ترغب في ذلك!
back: عودة إلى الصفحة الرئيسية
