# heading
subheading: نحن نقدم مجموعة واسعة من الخدمات من استشارات الأعمال والتسويق الرقمي على طول الطريق لتنظيم الأحداث

# menu
link_home: الصفحة الرئيسية
link_services: الخدمات
link_contact: الاتصال

#services page
show_services: Show services
title_services: خدماتنا
no_services: لا توجد خدمة لإظهارها في الوقت الحالي
no_service: لم يتم العثور على الخدمة التي تبحث عنها باللغة الإنجليزية. قد توجد ولكن في إصدار لغة مختلفة
show_service: إظهار التفاصيل
gallery: معرض الصور
interested_heading: Do you like our offer?
interested_text:  "Don't hesitate to contact us!"

#contact page
contact_us: Contact us!
title_contact: الاتصال
languages: "أنا أتكلم الإنجليزية والعربية والفرنسية والتشيكية"
title_email: أرسل لي رسالة بريد إلكتروني!
email_send: إرسال البريد الإلكتروني
send: إرسال
close: إغلاق

#email
email_name: Name and surname
email_phone: Phone number
email_email: Email address
email_text: Your message

#about page
title_about: عنا

# footer
author: مواقع مصممة لتناسب احتياجاتك

# error
error: نحن آسفون ، لكن الصفحة التي كنت تبحث عنها لم تعد موجودة.
