# heading
subheading: Poskytujeme širokou nabídku služeb od podnikatelského poradenství před digitální marketing až po pořádání eventů

# menu
link_home: Úvod
link_services: Služby
link_contact: Konktakt

#services page
show_services: Zobrazit služby
title_services: Naše služby
no_services: Aktuálně není v nabídce žádná služba
no_service: "Hledanou službu se nepodařilo nalézt. Je možné, že se na webu nachází v jiné jazykové verzi."
show_service: Zobrazit detail
gallery: Galerie

interested_heading: Zaujala Vás naše nabídka?
interested_text:  Neváhejte a ozvěte se nám!

#contact page
contact_us: Ozvěte se nám!
title_contact: Kontakt
languages: "Komunikuji v angličtině, arabštině, francouzštině a češtině"
title_email: Napiště mi zprávu!
email_send: Odeslat email
send: Odeslat
close: Zavřít

#email
email_name: Jméno a příjmení
email_phone: Telefonní číslo
email_email: Emailová adresa
email_text: Text zprávy

#about page
title_about: O nás

# footer
author: Webové stránky na míru

# error
error: "Je nám líto, ale hledanou stránku se nepodařilo vyhledat"
error_p: "Doporučujeme vám vrátit se zpět na úvod a nový web si prohlédnout. Věříme, že se Vám bude líbit."
back: Zpět na úvod
